# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- popular languages that Data Scientists use
- commonly used libraries used by Data Scientists 
- Data Science Tools
- examples of evaluating arithmetic expressions in Python

Some of the popular languages that Data Scientists use are:

1. Python 
2. R 
3. Julia

Some of the commonly used libraries used by Data Scientists include:

1. pandas
2. numpy
3. matplotlib

|Data Science Tools|
|------------------|
|jupyter note book|
|apache spark|
|TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [17]:
#This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [18]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Danial